include top.jade 
                link(rel='stylesheet',href='./css/ifm.css')
                .ifm
                        .grade
                                a test
                        .memdiv
                                h2 회원정보 변경
                                p 
                                        | 회원정보를 수정하실 수 있습니다. 회원정보를 변경하시고 반드시 하단에 
                                        strong 확인 
                                        | 버튼을 클릭해 주셔야 합니다.
                        .list
                                .link-container
                                        h2 나의 쇼핑내역
                                        ul
                                                li
                                                        a(href='#') 장바구니
                                                li
                                                        a(href='#') 주문/배송 조회
                                                li
                                                        a(href='#') 취소/반품/ 신청
                                .link-container
                                        h2 회원정보
                                        ul
                                                li
                                                        a(href='/information' style="color:black;font-weight:bold") 회원정보 변경
                                                li
                                                        a(href='#') 배송지 관리
                                                li
                                                        a(href='#') 나의 상품 평가/리뷰
                        .table
                                table
                                        tbody
                                                tr
                                                        th(scope='row') 이름
                                                        td=user.name
                                                tr
                                                        th(scope='row') 아이디
                                                        td=user.id
                                                tr
                                                        th(scope='row') 비밀번호
                                                        td
                                                                a 비밀번호 변경하기
                                                tr
                                                        th(scope='row') 생년월일
                                                        td
                                                                input(type='date' value=birth readonly)
                                                tr
                                                        th(scope='row') 연락처
                                                        td.contact
                                                                h4 휴대폰 번호
                                                                p=user.phone
                                                                h4 이메일 주소
                                                                p=user.email
