include top.jade 
                link(rel='stylesheet',href='./css/ifm.css')
                link(rel='stylesheet',href='../css/ifm.css')
                .ifm
                        .grade
                                a test
                        .memdiv
                                h2 회원정보 변경
                                p 
                                        | 회원정보를 수정하실 수 있습니다. 회원정보를 변경하시고 반드시 하단에 
                                        strong 변경
                                        | 버튼을 클릭해 주셔야 합니다.
                        .list
                                .link-container
                                        h2 나의 쇼핑내역
                                        ul
                                                li
                                                        a(href='/user/basket') 장바구니
                                                li
                                                        a(href='/user/orderifm') 주문/배송 조회
                                .link-container
                                        h2 회원정보
                                        ul
                                                li
                                                        a(href='/user/information' style="color:black;font-weight:bold") 회원정보 변경
                                                li
                                                        a(href='#') 나의 상품 평가/리뷰
                        .table
                                table
                                        tbody
                                                tr
                                                        th(scope='row') 이름
                                                        td=user.name
                                                tr
                                                        th(scope='row') 아이디
                                                        td=user.id
                                                tr
                                                        th(scope='row') 비밀번호
                                                        td
                                                                a.rainbtn#passshow(alt="비밀번호변경" style="margin: 10px 0px;")
                                                tr
                                                        th(scope='row') 생년월일
                                                        td
                                                                input(type='date' value=birth readonly)
                                                tr
                                                        th(scope='row') 연락처
                                                        td.contact
                                                                h4 휴대폰 번호
                                                                p=user.phone
                                                                h4 이메일 주소
                                                                p=user.email
                        .passmodi
                                .passtt
                                        h2 비밀번호 변경
                                .passfield
                                        table
                                                tbody
                                                        tr
                                                                th(scope='row') 기존 비밀번호
                                                                td 
                                                                        input#pw(type="password")
                                                        tr
                                                                th(scope='row') 새로운 비밀번호
                                                                td
                                                                        input#newpw(type="password")
                                                        tr
                                                                th(scope='row') 새로운 비밀번호 확인
                                                                td
                                                                        input#newpwok(type="password")
                                .passbtn
                                        a.rainbtn#passchange(alt="변경" style="margin: 10px 0px;")
                                        a.rainbtn#passclose(alt="취소" style="margin-left: 110px;margin-top: -40px;")
                script.
                        $("#passshow").click(function(){
                                $(".passmodi").css("display","block");
                        });
                        $("#passchange").click(function(){
                                var pw=$("#pw").val();
                                var npw=$("#newpw").val();
                                var npwok=$("#newpwok").val();
                                if(pw==""){
                                        alert("기존 비밀번호를 입력하세요.");
                                }
                                else if(npw==""){
                                        alert("새로운 비밀번호를 입력하세요.");
                                }else if(npwok==""){
                                        alert("새로운 비밀번호 확인을 입력하세요.");
                                }else if(npw.length<4 || npw.length>20){
                                        alert("비밀번호는 최소4자 최대 20자까지 가능합니다.");
                                }else if(npw!=npwok){
                                        alert("새로운 비밀번호가 일치하지 않습니다.");
                                }else if(npw==pw){
                                        alert("기존 비밀번호와 새로운 비밀번호가 같습니다.");
                                }else{
                                        $.ajax({
                                                url:"/user/passchange",
                                                dataType:'json',
                                                type:"post",
                                                data:{'pw':pw,'newpw':npw},
                                                success: function(result){
                                                        if(result){
                                                                alert("비밀번호 변경이 완료되었습니다.");
                                                                location.reload();
                                                        }else{
                                                                alert("기존 비밀번호가 일치하지않습니다");
                                                        }
                                                }
                                        })
                                }
                        });
                        $("#passclose").click(function(){
                                $(".passmodi").css("display","none");
                        });
