include top.jade 
                .upload(style="border:none")
                        .pro
                                ul.proul
                                        each pro,i in product
                                                li
                                                        .totallist
                                                                .thumb
                                                                        a(href='/productDetail?num='+pro.num)
                                                                                img(src="./dbimg/"+pro.simgname)
                                                                .proinfo
                                                                        a(href='/productDetail?num='+pro.num)=pro.name
                                                                        .listbtm
                                                                                -var no=pro.num
                                                                                -var stars=0;
                                                                                -for(var s=0;s<star.length;s++){
                                                                                        -if(no==star[s].num){
                                                                                                -stars=star[s].star
                                                                                        -}}
                                                                                -for(var j=1;j<11;j++){
                                                                                        -if(j%2==0){
                                                                                                -if(j<stars){
                                                                                                        span(class="star2 on") t
                                                                                                -}else{
                                                                                                        span.star2 t
                                                                                                -}
                                                                                        -}else{
                                                                                                -if(j<stars){
                                                                                                        span(class="star1 on") t
                                                                                                -}else{
                                                                                                        span.star1 t
                                                                                                -}}}
                                                                                -var cnt=0;
                                                                                -for(var s=0;s<star.length;s++){
                                                                                        -if(no==star[s].num){
                                                                                                -cnt=star[s].cnt
                                                                                        -}}
                                                                                .revnum
                                                                                        span(style="font-weight:bold")="리뷰 "+cnt+"건"
                                                                .proprice
                                                                        -var price=pro.optprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                        strong=price
                                                                        |원
                                                                        .delivery
                                                                                p
                                                                                        sapn 배송비 2,500원
                                                                .procomp
                                                                        a=pro.comp
                .pagingdiv
                        .paging
                                -var pover=Math.trunc(pager.pagecnt/10)
                                if(pover)
                                        if(pno<11)
                                                - var n = 1 //시작페이지
                                                - var max=10 //끝페이지
                                                - var next=11 //다음10페이지
                                                - var check=1 //다음,마지막페이지 체크
                                        else
                                                - var n=pno%10 ==0 ? (Math.trunc(pno/10)-1)*10+1 : Math.trunc(pno/10)*10+1 //시작페이지
                                                - var ip=Math.trunc(n/10) //시작페이지앞자리
                                                - var fp=Math.trunc(pager.pagecnt/10) //마지막페이지앞자리
                                                -var pna=pager.pagecnt-n //잔여페이지수
                                                -var next=(ip+1)*10+1 //다음10페이지
                                                -var prev=ip*10 //전10페이지
                                                if(ip == fp)
                                                        -var max=n+pna
                                                else
                                                        -var max=n+9
                                else
                                        - var n = 1
                                        - var max=pager.pagecnt
                                span
                                        ul
                                                if(search)
                                                        if(pno>10)
                                                                li
                                                                        a#first(href="/search?page=1&search="+search style="height: 14px;")
                                                                                img(src="./img/dbackb.png")
                                                        if(prev)
                                                                li
                                                                        a#prev(href="/search?page="+prev+"&search="+search style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/backb.png")
                                                        while n <= max
                                                                li
                                                                        if(pno==n)
                                                                                a(href="/search?page="+n+"&search="+search style="color: #fff;border: 1px solid #f40;background-color: #f40;")=n++
                                                                        else
                                                                                a(href="/search?page="+n+"&search="+search)=n++

                                                        if(ip != fp || check)
                                                                li
                                                                        a#next(href="/search?page="+next+"&search="+search style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/forb.png")
                                                                li
                                                                        a#final(href="/search?page="+pager.pagecnt+"&search="+search style="height: 14px;")
                                                                                img(src="./img/dforb.png")
                                                else
                                                        if(pno>10)
                                                                li
                                                                        a#first(href="/" style="height: 14px;")
                                                                                img(src="./img/dbackb.png")
                                                        if(prev)
                                                                li
                                                                        a#prev(href="/pagenum="+prev style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/backb.png")
                                                        while n <= max
                                                                li
                                                                        if(pno==n)
                                                                                a(href="/pagenum="+n style="color: #fff;border: 1px solid #f40;background-color: #f40;")=n++
                                                                        else
                                                                                a(href="/pagenum="+n)=n++

                                                        if(ip != fp || check)
                                                                li
                                                                        a#next(href="/pagenum="+next style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="./img/forb.png")
                                                                li
                                                                        a#final(href="/pagenum="+pager.pagecnt style="height: 14px;")
                                                                                img(src="./img/dforb.png")
                script.
                        $("#first").hover(function(){
                                $("#first").children().attr('src','./img/dbackw.png');
                        },function(){
                                $("#first").children().attr('src','./img/dbackb.png');
                        })
                        $("#prev").hover(function(){
                                $("#prev").children().attr('src','./img/backw.png');
                        },function(){
                                $("#prev").children().attr('src','./img/backb.png');
                        })
                        $("#next").hover(function(){
                                $("#next").children().attr('src','./img/forw.png');
                        },function(){
                                $("#next").children().attr('src','./img/forb.png');
                        })
                        $("#final").hover(function(){
                                $("#final").children().attr('src','./img/dforw.png');
                        },function(){
                                $("#final").children().attr('src','./img/dforb.png');
                        })



                                        

                        
                        







