include ../user/top.jade
                link(rel='stylesheet',href='../css/payment.css')
                form#form(action="/user/orderadd" method="post")
                        .payment
                                .paymenttitle
                                        img(src="../img/payment.png")
                                        h2 주문/결제
                                .paymentlist
                                                table.paymenttable
                                                        thead
                                                                tr
                                                                        th 상품
                                                                        th 수량
                                                                        th 가격
                                                                        th 배송비
                                                        tbody#probody
                                                                if(isnum=="1")
                                                                        tr#num(data-num=pay.num)
                                                                                td
                                                                                        img(src="../dbimg/"+pay.simgname)
                                                                                        span#name=pay.name
                                                                                        span#option(data-optnum=pay.optnum)=pay.optname
                                                                                        #hr
                                                                                -var total=pay.optprice*cnt
                                                                                -var price=total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                                td#cnt(data-cnt=cnt)=cnt
                                                                                td#price(data-price=pay.optprice)=price
                                                                                td#deli(data-price="2500") 2500원
                                                                                input(type="text" name="num" value=pay.num style="display:none")
                                                                                input(type="text" name="optnum" value=pay.optnum style="display:none")
                                                                                input(type="text" name="cnt"  value=pay.cnt style="display:none")
                                                                else
                                                                        each pro,i in pay
                                                                                tr#num(data-num=pro.num)
                                                                                        td
                                                                                                img(src="../dbimg/"+pro.simgname)
                                                                                                span#name=pro.name
                                                                                                span#option(data-optnum=pro.optnum)=pro.optname
                                                                                                #hr
                                                                                        -if(!cnt){
                                                                                                -var total=pro.optprice*pro.cnt
                                                                                                -var price=total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                                                td#cnt(data-cnt=pro.cnt)=pro.cnt
                                                                                                input(type="text" name="num" value=pro.num style="display:none")
                                                                                                input(type="text" name="optnum" value=pro.optnum style="display:none")
                                                                                                input(type="text" name="cnt"  value=pro.cnt style="display:none")
                                                                                        -}else{
                                                                                                -var total=pro.optprice*cnt[i]
                                                                                                -var price=total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                                                td#cnt(data-cnt=cnt[i])=cnt[i]
                                                                                                input(type="text" name="num" value=pro.num style="display:none")
                                                                                                input(type="text" name="optnum" value=pro.optnum style="display:none")
                                                                                                input(type="text" name="cnt"  value=cnt[i] style="display:none")
                                                                                        -}
                                                                                        td#price(data-price=pro.optprice)=price
                                                                                        td#deli(data-price="2500") 2500원
                                .totalprice
                                        table
                                                tr
                                                        td 주문금액
                                                        td#orderprice
                                                        td 
                                                                img(src="../img/plus.png")
                                                        td(style="padding-right: 60px;") 배송비
                                                        td#orderdeli
                                                        td 
                                                                img(src="../img/eq.png")
                                                        td(style="padding-right: 10px;") 최종결제금액
                                                        td#ordertotal
                                                        input#totalinput(type="text" name="total" style="display:none")
                                                        input#totalcnt(type="text" name="tocnt" style="display:none")
                                .loctable
                                        h3 배송지 정보 입력
                                        table
                                                tbody
                                                        tr
                                                                th(scope='row') 받으시는 분
                                                                td
                                                                        input#aname(type="text" autocomplete="off"  name="aname")
                                                        tr
                                                                th(scope='row') 주소
                                                                td#loc
                                                                        p 우편번호
                                                                        input.postcodify_postcode5(type="text"  readonly name="locnum")
                                                                        a#postsearch 검색
                                                                        br
                                                                        p 주소
                                                                        input.postcodify_address(type='text' readonly name="locadd")
                                                                        br
                                                                        p 상세주소
                                                                        input.postcodify_details(type='text' autocomplete="off"  name="locdetail" style="margin-bottom:10px")
                                                        tr
                                                                th(scope='row') 휴대전화
                                                                td
                                                                        input#aphone(type="text" placeholder="010-0000-0000" autocomplete="off"  name="aphone")
                                                        tr
                                                                th(scope='row') 주문자 이름
                                                                td
                                                                        input#oname(type="text" autocomplete="off"  name="oname")
                                                        tr
                                                                th(scope='row') 주문자 휴대전화
                                                                td
                                                                        input#ophone(type="text" placeholder="010-0000-0000" autocomplete="off"  name="ophone")
                        .buy
                                a#order 주문하기
                                a#close  취소하기
                script(src='//d1p7wdleee1q2z.cloudfront.net/post/search.min.js')
                script.
                        $(window).on( "load", function() {
                                var leng=$("td[id=price]").length;
                                var orprice=0;
                                var ordeli=0;
                                var total=0;
                                for(var i=0;i<leng;i++){
                                        orprice=orprice+Number($("td[id=price]")[i].dataset.price);
                                }
                                for(var i=0;i<leng;i++){
                                        ordeli=ordeli+Number($("td[id=deli]")[i].dataset.price);
                                }
                                total=orprice+ordeli;
                                $("#orderprice")[0].innerText=numberWithCommas(orprice)+"원";
                                $("#orderdeli")[0].innerText=numberWithCommas(ordeli)+"원";
                                $("#ordertotal")[0].innerText=numberWithCommas(total)+"원";
                                $("#ordertotal")[0].dataset.total=total;
                                $("#totalinput")[0].value=total;
                                $("#totalcnt")[0].value=leng;
                        })
                        $(function() {
                                $("#postsearch").postcodifyPopUp();
                        });
                        function numberWithCommas(x) { //콤마찍기
                                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }
                        $("#order").click(function(){
                                if($("#aname")[0].value==""){
                                        alert("받으시는 분을 입력하세요.");
                                        $("#aname").focus();
                                        return;
                                }else if($(".postcodify_postcode5")[0].value==""){
                                        alert("우편 번호를 검색하세요.");
                                        $(".postcodify_postcode5").focus();
                                        return;
                                }else if($(".postcodify_address")[0].value==""){
                                        alert("우편 번호를 검색하세요.");
                                        $(".postcodify_address").focus();
                                        return;
                                }else if($(".postcodify_details")[0].value==""){
                                        alert("상세주소를 입력하세요.");
                                        $(".postcodify_details").focus();
                                        return;
                                }else if($("#aphone")[0].value==""){
                                        alert("휴대전화를 입력하세요.");
                                        $("#aphone").focus();
                                        return;
                                }else if(!checkPhone($("#aphone")[0].value)){
                                        alert("휴대폰 번호가 유효하지 않습니다.");
                                        $("#aphone").focus();
                                        return;
                                }else if($("#oname")[0].value==""){
                                        alert("주문자이름을 입력하세요.");
                                        $("#oname").focus();
                                        return;
                                }else if($("#ophone")[0].value==""){
                                        alert("주문자 휴대전화를 입력하세요.");
                                        $("#ophone").focus();
                                        return;
                                }else if(!checkPhone($("#ophone")[0].value)){
                                        alert("휴대폰 번호가 유효하지 않습니다.");
                                        $("#ophone").focus();
                                        return;
                                }else{
                                        $("#form").submit();
                                }
                        });
                        function checkPhone(number){
                                var regExp=/^\d{3}-\d{4}-\d{4}$/;
                                if(regExp.test(number)) {
                                        return true;
                                } else {
                                        return false;
                        }};