include ../user/top.jade
                link(rel='stylesheet', href='./css/selectbox.min.css')
                script(type='text/javascript', src='./js/selectbox.min.js')
                script.
                .upload
                        .prct_simple
                                .prct_imgbox
                                        img(src="./dbimg/"+pro.simgname)
                                        .prct_wbox
                                                a 별점
                                                a 리뷰
                                .prct_infobox
                                        .prct_defalut_info
                                                .prct_defalut_area
                                                        label="상품코드 : "+min.optcode
                                                        h3=pro.name
                                                //- hr
                                                .prct_defalut_table
                                                        table
                                                                tbody
                                                                        tr
                                                                                th 가격
                                                                                td
                                                                                        strong(style="color:black")=min.min+"원" 
                                                                        tr
                                                                                th 배송비
                                                                                td#deli 
                                                                                        span#deliprice 2500원
                                                                                        select#color.justselect(name='kind')
                                                                                                option(value='ok') 주문시결제(선결제)
                                                                                                option(value='no') 상품수령시결제(착불)     
                                                                        tr
                                                                                th 옵션
                                                                                td.option
                                                                                        a
                                                                                                span 선택하세요
                                                                                                img(src="./img/down.png")
                                                                                        .optiondivno
                                                                                                .optiontop
                                                                                                        span 옵션선택
                                                                                                        img.opcls(src="./img/exit.png")
                                                                                                .optionlist
                                                                                                        ul
                                                                                                                each op in opt
                                                                                                                        li.listsel(data-name=op.optname data-price=op.optprice data-num=op.optnum)
                                                                                                                                a
                                                                                                                                        span=op.optname
                                                                                                                                        
                                                                                                                                        -var price=op.optprice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                                                                                                        strong=price
                                                //- hr
                                                .optionprice
                                                        ul.optionul
                                                .optiontotal(style="display:none")
                                                        table
                                                                tbody
                                                                        tr
                                                                                th 총 합계금액
                                                                                td
                                                                                        strong#totalprice(data-total="0")=0
                                                                                        span 원
                                                .buydiv
                                                        a 장바구니
                                                        a 바로구매
                .detailinfo
                        | test



                script.
                        $( window ).on( "load", function() {
                                $(".justwrap").css("display","inline-grid");
                        })
                        $(".option").click(function(){ //옵션창활성화
                                $(".optiondiv").css("display","block");
                                $(".optiondivno").attr("class","optiondiv");
                        })
                        $(".opcls").click(function(){ //옵션창닫기
                                $(".optiondiv").css("display","none");
                                $(".optiondiv").attr("class","optiondivno");
                        })
                        $("li[class='listsel']").click(function(){ //옵션선택
                                $(".optiondiv").css("display","none");
                                $(".optiondiv").attr("class","optiondivno");
                                var name=$(this)[0].dataset.name;
                                var price=$(this)[0].dataset.price;
                                var num=$(this)[0].dataset.num;
                                var dupl=0;
                                for(var start=0;start<=$('.optionul').children().length;start++){
                                        if($(this)[0].dataset.name == $('.optionul').children().eq(start).attr('class')){
                                                dupl=1;
                                        }
                                }
                                if(dupl){
                                        alert("이미 선택되어 있는 옵션입니다.");
                                }else{
                                        var html="<li class="+name+"><p>"+name+"</p><button class='min' data-price="+price+" onclick=minus(this);></button>";
                                        var html=html+"<input class='mp_wrap' type='text' data-price="+price+" name='procnt' value='1'  onchange=cntcgn(this);>";
                                        var html=html+"<button class='plus' data-price="+price+" onclick=plus(this);></button>";
                                        var html=html+="<button class='delete' onclick=del(this);></button>";
                                        var html=html+'<span class=op_price data-tp='+price+'>'+numberWithCommas(price)+'원</span></li>';
                                        $('.optionul').append(html);
                                        if($('.optionul').children().length){
                                                $(".optiontotal").css('display','block');
                                        }
                                        $("#totalprice")[0].dataset.total=Number($("#totalprice")[0].dataset.total)+Number(price);
                                        $("#totalprice")[0].innerHTML=numberWithCommas(Number($("#totalprice")[0].dataset.total));
                                }
                        })
                        function minus(m){ //수량감소
                                var price=m.dataset.price;
                                if($(m).next().val()>1){
                                        $(m).next()[0].value=Number($(m).next().val())-1;
                                        $(m).next().next().next().next()[0].dataset.tp=Number($(m).next()[0].value)*Number(price);
                                        $(m).next().next().next().next()[0].innerHTML=numberWithCommas($(m).next().next().next().next()[0].dataset.tp)+"원";
                                        $("#totalprice")[0].dataset.total=Number($("#totalprice")[0].dataset.total)-Number(price);
                                        $("#totalprice")[0].innerHTML=numberWithCommas(Number($("#totalprice")[0].dataset.total));
                                }
                                else{
                                        alert('최소수량은 1이상입니다');
                                }
                        }
                        function plus(p){ //수량추가
                                var price=p.dataset.price;
                                $(p).prev()[0].value=Number($(p).prev().val())+1;
                                $(p).next().next()[0].dataset.tp=Number($(p).prev()[0].value)*Number(price);
                                $(p).next().next()[0].innerHTML=numberWithCommas(Number($(p).next().next()[0].dataset.tp))+"원";
                                $("#totalprice")[0].dataset.total=Number($("#totalprice")[0].dataset.total)+Number(price);
                                $("#totalprice")[0].innerHTML=numberWithCommas(Number($("#totalprice")[0].dataset.total));
                        }
                        function del(d){ //옵션삭제
                                var total=$(d).next()[0].dataset.tp;
                                $("#totalprice")[0].dataset.total=Number($("#totalprice")[0].dataset.total)-Number(total);
                                 $("#totalprice")[0].innerHTML=numberWithCommas(Number($("#totalprice")[0].dataset.total));
                                $(d).parent().remove();
                                if(!$('.optionul').children().length){
                                        $(".optiontotal").css('display','none');
                                        $("#totalprice")[0].dataset.total=0;
                                        $("#totalprice")[0].innerHTML=0;
                                }
                        }
                        function cntcgn(c){ //inputbox 숫자변경
                                if(Number($(c).val())<1){
                                        alert("1이하는 입력할 수 없습니다");
                                        $(c)[0].value=1;
                                        return;
                                }
                                var price=c.dataset.price;
                                var first=$(c).next().next().next()[0].dataset.tp;
                                var final=Number($(c).val())*Number(price);
                                var result=Number(final)-Number(first);
                                $(c).next().next().next()[0].dataset.tp=final;
                                $(c).next().next().next()[0].innerHTML=numberWithCommas($(c).next().next().next()[0].dataset.tp)+"원";
                                $("#totalprice")[0].dataset.total=Number($("#totalprice")[0].dataset.total)+Number(result);
                                $("#totalprice")[0].innerHTML=numberWithCommas(Number($("#totalprice")[0].dataset.total));
                        };
                        function numberWithCommas(x) { //콤마찍기
                                return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        }

