doctype html
html
    head
        meta(charser='utf-8')
    body
        ul
            each rows in row
                li
                    a(href='/login/'+rows.bno)=rows.title
        artcle
            if rowd
                h1=rowd.bno
                h2=rowd.id
                h3=rowd.title
                h1=rowd.hits
                h2=rowd.code
