include ../user/top.jade 
                link(rel='stylesheet',href='../css/management.css')
                .mgback
                        .upload
                                nav.manage
                                        ul#manageMenu
                                                li: a#user(href="/admin/member") 회원관리
                                                li: a#prod(href="/admin/product") 상품관리
                                                li: a#order(href="/admin/order") 주문관리
                                                li: a#faq(href="/admin/faq") FAQ관리
                                .prodmg
                                        .container-table100
                                                .wrap-table100
                                                        .table100
                                                                table
                                                                        thead
                                                                                tr.table100-head
                                                                                        th.column1 주문번호
                                                                                        th.column2 주문일
                                                                                        th.column3 제품명
                                                                                        th.column4 총금액
                                                                                        th.column5 
                                                                                                |상품금액
                                                                                                |(수량)
                                                                                        th.column6 상태
                                                                                        th.column7 수정
                                                                                        th.column8 삭제
                                                                        tbody
                                                                                ul
                                                                                        if(orders)
                                                                                                each order in orders   
                                                                                                        tr
                                                                                                                td.column1(style="width: 7%;")=order.onum
                                                                                                                td.column2(style="width: 9%;")=new Date(order.order_date).format("yyyy-MM-dd")
                                                                                                                td.column3=order.name
                                                                                                                td.column4(style="width: 8%;")=order.total
                                                                                                                td.column5(style="width: 8%;")
                                                                                                                        p.up=order.optprice
                                                                                                                        span.down (#{order.cnt})
                                                                                                                td.column6(style="width: 10%;")=order.status
                                                                                                                td.column7(style="width: 7%;"): a.rainbtnlist#modi(alt="수정")
                                                                                                                td.column8(style="width: 7%;"): a.rainbtnlist#delete(alt="삭제")
                        .pagingdiv
                                .paging
                                        -var pover=Math.trunc(pager.pagecnt/10)
                                        if(pover)
                                                if(pno<11)
                                                        - var n = 1 //시작페이지
                                                        - var max=10 //끝페이지
                                                        - var next=11 //다음10페이지
                                                        - var check=1 //다음,마지막페이지 체크
                                                else
                                                        - var n=pno%10 ==0 ? (Math.trunc(pno/10)-1)*10+1 : Math.trunc(pno/10)*10+1 //시작페이지
                                                        - var ip=Math.trunc(n/10) //시작페이지앞자리
                                                        - var fp=Math.trunc(pager.pagecnt/10) //마지막페이지앞자리
                                                        -var pna=pager.pagecnt-n //잔여페이지수
                                                        -var next=(ip+1)*10+1 //다음10페이지
                                                        -var prev=ip*10 //전10페이지
                                                        if(ip == fp)
                                                                -var max=n+pna
                                                        else
                                                                -var max=n+9
                                        else
                                                - var n = 1
                                                - var max=pager.pagecnt
                                        span
                                                ul
                                                        if(pno>10)
                                                                li
                                                                        a#first(href="/admin/order" style="height: 14px;")
                                                                                img(src="../img/dbackb.png")
                                                        if(prev)
                                                                li
                                                                        a#prev(href="/admin/order="+prev style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="../img/backb.png")
                                                        while n <= max
                                                                li
                                                                        if(pno==n)
                                                                                a(href="/admin/order="+n style="color: #fff;border: 1px solid #f40;background-color: #f40;")=n++
                                                                        else
                                                                                a(href="/admin/order="+n)=n++

                                                        if(ip != fp || check)
                                                                li
                                                                        a#next(href="/admin/order="+next style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="../img/forb.png")
                                                                li
                                                                        a#final(href="/admin/order="+pager.pagecnt style="height: 14px;")
                                                                                img(src="../img/dforb.png")
        script.
                $("#order").css("border-bottom","5px solid white");
                $("#order").css("color","white");