include ../user/top.jade 
                link(rel='stylesheet',href='../css/management.css')
                link(rel='stylesheet', href='../css/selectbox.min.css')
                script(type='text/javascript', src='../js/selectbox.min.js')
                script(type='text/javascript', src='../js/autosize.js')
                script(type='text/javascript', src='../js/ckeditor/ckeditor.js')
                .upload
                        nav.manage
                                ul#manageMenu
                                        li: a#user(href="/admin/member") 회원관리
                                        li: a#prod(href="/admin/product") 상품관리
                                        li: a#order(href="/admin/order") 주문관리
                                        li: a#faq(href="/admin/faq") FAQ관리
                        .prodmg(style="border:0px;margin-left:30px;margin-bottom: 50px;")
                                h2 상품수정
                                form#sfrm(method="post" enctype="multipart/form-data" )
                                        .table
                                                table
                                                        tbody
                                                                tr
                                                                        th 썸네일
                                                                        td
                                                                                img#thumb(src="../dbimg/"+pro.simgname style="border:1px solid;width:144px;height:144px")
                                                                                input#simg(type='file' name="simg" accept=".jpg,.jpeg,.png,.gif,.bmp" style="display:none")
                                                                                a.rainbtn#simgcgn(alt="썸네일변경")
                                                                                a.rainbtn#simgcgnclose(alt="취소" style="display:none")
                                                                input(name="no" style="display:none;" value=pro.num)
                                form#frm(action="/admin/productmodify" method="post")
                                        .table
                                                table
                                                        tbody
                                                                tr(style="border-top: 1px rgb(97, 96, 96) solid;")
                                                                        th 상품분류
                                                                        td 
                                                                                select#color.justselect(name='kind')
                                                                                        if(pro.pkind=='키보드')
                                                                                                option(value='키보드' selected) 키보드
                                                                                        else
                                                                                                option(value='키보드') 키보드
                                                                                        if(pro.pkind=='마우스')
                                                                                                option(value='마우스' selected) 마우스
                                                                                        else
                                                                                                option(value='마우스') 마우스
                                                                                        if(pro.pkind=='헤드셋')
                                                                                                option(value='헤드셋' selected) 헤드셋
                                                                                        else
                                                                                                option(value='헤드셋') 헤드셋
                                                                                        if(pro.pkind=='의자')
                                                                                                option(value='의자' selected) 게이밍의자
                                                                                        else
                                                                                                option(value='의자') 게이밍의자
                                                                                        if(pro.pkind=='패드')
                                                                                                option(value='패드' selected) 패드
                                                                                        else
                                                                                                option(value='패드') 패드
                                                                                        if(pro.pkind=='PC악세사리')
                                                                                                option(value='PC악세사리' selected) PC악세사리
                                                                                        else
                                                                                                option(value='PC악세사리') PC악세사리
                                                                tr
                                                                        th 상품명
                                                                        td: input(type='text' style="width: 250px;" name="name" value=pro.name)
                                                                tr
                                                                        th 제조사
                                                                        td: input(type='text' style="width: 250px;" name="comp" value=pro.comp)
                                                                tr 
                                                                        th 옵션
                                                                        td
                                                                                .optlist
                                                                                        ul.optul
                                                                                                each op in opt
                                                                                                        li(class=op.num)
                                                                                                                span 제품코드
                                                                                                                input(type='text', style='width:100px;' value=op.optcode readonly)
                                                                                                                span 제품이름
                                                                                                                input(type='text', style='width:160px;' value=op.optname readonly)
                                                                                                                span 수량
                                                                                                                input.optcnt(type='number', min='0', value=op.optcnt, style='width:60px;text-align: right;' readonly)
                                                                                                                span 가격
                                                                                                                input.optprice(type='text', value=op.optprice, style='width:70px;text-align: right;margin-right:0px;' readonly)
                                                                                                                span 원
                                                                                                                a#ok.rainbtn(alt='완료', data-num='+num+', onclick='optup(this)', style='position: absolute;margin-left: 650px;margin-top: -40px;display:none;')
                                                                                                                a#modi.rainbtn(alt='수정', data-num='+num+', onclick='optmodi(this)', style='position: absolute;margin-left: 650px;margin-top: -40px;')
                                                                                                                a#modiok.rainbtn(alt='수정완료', data-num='+num+', onclick='optmodiok(this)', style='position: absolute;margin-left: 650px;margin-top: -40px;display:none;')
                                                                                                                a#close.rainbtn(alt='취소', data-num='+num+', onclick='optclose(this)', style='position: absolute;margin-left: 760px;margin-top: -40px;display:none;')
                                                                                                                a#modicl.rainbtn(alt='취소', data-num='+num+', onclick='optmodicl(this)', style='position: absolute;margin-left: 760px;margin-top: -40px;display:none;')
                                                                                                                a#del.rainbtn(alt='삭제', data-num='+num+', onclick='optdel(this)', style='position: absolute;margin-left: 760px;margin-top: -40px;')
                                                                                a.rainbtn#optadd(alt="옵션추가")
                                                                tr
                                                                        th 상품설명
                                                                        td: textarea#explan(name="text" )=pro.ptext
                                                                        input(name="no" style="display:none;" value=pro.num)
                                .uploadbtn
                                        a.rainbtn#upload(alt="변경" style="margin: 10px 0px;")
                                        a.rainbtn(href="/admin/product" alt="취소" style="margin-left: 110px;margin-top: -40px;")
        script.
                $("#prod").css("border-bottom","5px solid white");
                $("#prod").css("color","white");
                $("#upload").click(function(){
                        $("#frm").submit();
                })
                $("#simgcgnclose").click(function(){
                        $("#simg").css("display",'none');
                        $("#simgcgn").css("display",'flex');
                        $(this).css("display","none");
                })
                $('#simgcgn').click(function(){
                        $("#simg").css("display",'block');
                        $("#simgcgnclose").css("display",'flex');
                        $(this).css("display","none");
                })
                $("#simg").on("change",function(){
                        var form=$('#sfrm')[0];
                        var data = new FormData(form);
                        $.ajax({
                                url:"/admin/simgdb",
                                type:"post",
                                processData: false,
                                contentType: false,
                                data:data,
                                success: function(pro){
                                        if(!pro){
                                                alert("사진 업로드가 실패했습니다.");
                                        }else{
                                                console.log(pro.src);
                                                $("#thumb").attr('src','../dbimg/'+pro.src);
                                        }
                                }
                        })
                })
                CKEDITOR.replace( 'explan',{
                        extraPlugins: 'autogrow',
                        filebrowserUploadUrl: '/bimgdb',
                });
                $("#optadd").click(function(){
                        $.ajax({
                                url:"/admin/getoptnum",
                                type:"post",
                                success: function(result){
                                        var num=result.num;
                                        var html="<li class="+num+"><span>제품코드</span><input type='text' class='optcode' style='width:100px'>";
                                        var html=html+"<span>제품이름</span><input type='text' class='optname' style='width:160px'>";
                                        var html=html+"<span>수량</span><input type='number' min=0 value='0' class='optcnt' style='width:60px;text-align: right;'>";
                                        var html=html+"<span>가격</span><input type='text' value='0' class='optprice' style='width:70px;text-align: right;margin-right:0px'><span>원</span>";
                                        var html=html+"<a class='rainbtn' alt='완료' id='ok' data-num="+num+" onclick='optup(this)' style='position: absolute;margin-left: 650px;margin-top: -40px;'></a>";
                                        var html=html+"<a class='rainbtn' alt='수정' id='modi' data-num="+num+" onclick='optmodi(this)' style='position: absolute;margin-left: 650px;margin-top: -40px;display:none'></a>";
                                        var html=html+"<a class='rainbtn' alt='수정완료' id='modiok' data-num="+num+" onclick='optmodiok(this)' style='position: absolute;margin-left: 650px;margin-top: -40px;display:none'></a>";
                                        var html=html+"<a class='rainbtn' alt='취소' id='close' data-num="+num+" onclick='optclose(this)' style='position: absolute;margin-left: 760px;margin-top: -40px;'></a>";
                                        var html=html+"<a class='rainbtn' alt='취소' id='modicl' data-num="+num+" onclick='optmodicl(this)' style='position: absolute;margin-left: 760px;margin-top: -40px;display:none'></a>";
                                        var html=html+"<a class='rainbtn' alt='삭제' id='del' data-num="+num+" onclick='optdel(this)' style='position: absolute;margin-left: 760px;margin-top: -40px;display:none'></a></li>";
                                        $('.optul').append(html);
                                }
                        })
                        $(this).css("display","none");
                });
                function optup(a){
                        var li=$("li[class="+a.dataset.num+"]");
                        var code=li.children()[1].value;
                        var name=li.children()[3].value;
                        var cnt=li.children()[5].value;
                        var price=li.children()[7].value;
                        var no=$("#sfrm")[0][0].value;
                        if(!code){
                                alert("제품코드를 입력하세요");
                                return;
                        }else if(!name){
                                alert("제품이름을 일력하세요");
                                return;
                        }else if(cnt<1){
                                alert("수량을 1개이상 입력하세요");
                                return;
                        }else if(price<100){
                                alert("금액을 100원이상 입력하세요");
                                return;
                        }
                       $.ajax({
                                url:"/admin/optadd",
                                type:"post",
                                dataType:'json',
                                data:{code:code,name:name,cnt:cnt,price:price,num:no},
                                success: function(result){
                                        if(result){
                                                li.children(1).attr("readonly","true");
                                                li.children(3).attr("readonly","true");
                                                li.children(5).attr("readonly","true");
                                                li.children(7).attr("readonly","true");
                                                li.children("#ok").css("display","none");
                                                li.children("#close").css("display","none");
                                                li.children("#modi").css("display","flex");
                                                li.children("#del").css("display","flex");
                                                $("#optadd").css("display","flex");
                                                alert("옵션등록성공");
                                        }
                                }
                        });
                }
                function optmodi(a){
                        var no=a.dataset.num;
                        var li=$("li[class="+no+"]");
                        li.children()[1].removeAttribute("readonly");
                        li.children()[3].removeAttribute("readonly");
                        li.children()[5].removeAttribute("readonly");
                        li.children()[7].removeAttribute("readonly");
                        li.children()[1].dataset.text=li.children()[1].value;                      
                        li.children()[3].dataset.text=li.children()[3].value;
                        li.children()[5].dataset.text=li.children()[5].value;
                        li.children()[7].dataset.text=li.children()[7].value;
                        li.children("#modi").css("display","none");
                        li.children("#del").css("display","none");
                        li.children("#modiok").css("display","flex");
                        li.children("#modicl").css("display","flex");
                }
                function optmodiok(a){
                        var no=a.dataset.num;
                        var li=$("li[class="+no+"]");
                        var code=li.children()[1].value;
                        var name=li.children()[3].value;
                        var cnt=li.children()[5].value;
                        var price=li.children()[7].value;
                        $.ajax({
                                url:"/admin/optmodi",
                                type:"post",
                                dataType:'json',
                                data:{code:code,name:name,cnt:cnt,price:price,num:no},
                                success: function(result){
                                        if(result){
                                                li.children(1).attr("readonly","true");
                                                li.children(3).attr("readonly","true");
                                                li.children(5).attr("readonly","true");
                                                li.children(7).attr("readonly","true");
                                                li.children("#modiok").css("display","none");
                                                li.children("#modicl").css("display","none");
                                                li.children("#modi").css("display","flex");
                                                li.children("#del").css("display","flex");
                                                alert("옵션이 수정되었습니다.");
                                        }else{
                                                alert("옵션 수정이 실패 하였습니다.");
                                        }
                                }
                        })
                }
                function optmodicl(a){
                        var no=a.dataset.num;
                        var li=$("li[class="+no+"]");
                        li.children("#modi").css("display","flex");
                        li.children("#del").css("display","flex");
                        li.children("#modiok").css("display","none");
                        li.children("#modicl").css("display","none");
                        li.children()[1].value=li.children()[1].dataset.text;
                        li.children()[3].value=li.children()[3].dataset.text;
                        li.children()[5].value=li.children()[5].dataset.text;
                        li.children()[7].value=li.children()[7].dataset.text;
                }
                function optclose(a){
                        $("li[class="+a.dataset.num+"]").remove();
                        $("#optadd").css("display","flex");
                }
                function optdel(a){
                        $.ajax({
                                url:"/admin/optdel",
                                type:"post",
                                data:{num:a.dataset.num},
                                success: function(result){
                                        if(result){
                                                alert("옵션이 삭제되었습니다.");
                                        }else{
                                                alert("옵션 삭제가 실패 하였습니다.");
                                        }
                                }
                        })
                        $("li[class="+a.dataset.num+"]").remove();
                }
