include ../user/top.jade 
                link(rel='stylesheet',href='../css/management.css')
                link(rel='stylesheet', href='../css/selectbox.min.css')
                script(type='text/javascript', src='../js/selectbox.min.js')
                .mgback
                        .upload
                                nav.manage
                                        ul#manageMenu
                                                li: a#user(href="/admin/member") 회원관리
                                                li: a#prod(href="/admin/product") 상품관리
                                                li: a#order(href="/admin/order") 주문관리
                                                li: a#faq(href="/admin/faq") FAQ관리
                                .mansearch(style="padding-left: 525px;")
                                        select#searchtype1.justselect(name='kind')
                                                option(value='키보드') 키보드
                                                option(value='마우스') 마우스
                                                option(value='헤드셋') 헤드셋
                                                option(value='게이밍의자') 게이밍의자
                                                option(value='패드') 패드
                                                option(value='PC악세사리') PC악세사리
                                        select#searchtype2.justselect(name='kind')
                                                option(value='ASUS') ASUS
                                                option(value='맥스틸') 맥스틸
                                        input#searchval(type='text' style="position: absolute;height: 25px;top: 63px;width: 150px;margin-left: 5px;")
                                        a#searchbtn(style="margin-left:158px") 검색
                                        a#upload(href="/admin/productupload" style="margin-left: 225px;") 상품등록
                                .prodmg
                                        .container-table100
                                                .wrap-table100
                                                        .table100
                                                                table
                                                                        thead
                                                                                tr.table100-head
                                                                                        th.column1 제품분류
                                                                                        th.column2 제품코드
                                                                                        th.column3 제품명
                                                                                        th.column4 제조사
                                                                                        th.column5 판매가
                                                                                        th.column6 수량
                                                                                        th.column7 등록일
                                                                                        th.column8 수정
                                                                                        th.column9 삭제
                                                                        tbody
                                                                                ul
                                                                                        if(result)
                                                                                                each pro in result     
                                                                                                        tr
                                                                                                                td.column1=pro.pkind
                                                                                                                td.column2=pro.optcode
                                                                                                                td.column3(style="width: 350px;")=pro.name
                                                                                                                td.column4=pro.comp
                                                                                                                td.column5=pro.optprice
                                                                                                                td.column6(style="width: 40px;")=pro.optcnt
                                                                                                                td.column7=new Date(pro.pdate).format("yyyy-MM-dd")
                                                                                                                td.column8: a.rainbtnlist#modi(alt="수정" name=pro.num)
                                                                                                                td.column9(style="padding-left: 20px;"): a.rainbtnlist#delete(alt="삭제" name=pro.num)
                        .pagingdiv
                                .paging
                                        -var pover=Math.trunc(pager.pagecnt/10)
                                        if(pover)
                                                if(pno<11)
                                                        - var n = 1 //시작페이지
                                                        - var max=10 //끝페이지
                                                        - var next=11 //다음10페이지
                                                        - var check=1 //다음,마지막페이지 체크
                                                else
                                                        - var n=pno%10 ==0 ? (Math.trunc(pno/10)-1)*10+1 : Math.trunc(pno/10)*10+1 //시작페이지
                                                        - var ip=Math.trunc(n/10) //시작페이지앞자리
                                                        - var fp=Math.trunc(pager.pagecnt/10) //마지막페이지앞자리
                                                        -var pna=pager.pagecnt-n //잔여페이지수
                                                        -var next=(ip+1)*10+1 //다음10페이지
                                                        -var prev=ip*10 //전10페이지
                                                        if(ip == fp)
                                                                -var max=n+pna
                                                        else
                                                                -var max=n+9
                                        else
                                                - var n = 1
                                                - var max=pager.pagecnt
                                        span
                                                ul
                                                        if(pno>10)
                                                                li
                                                                        a#first(href="/admin/product" style="height: 14px;")
                                                                                img(src="../img/dbackb.png")
                                                        if(prev)
                                                                li
                                                                        a#prev(href="/admin/product="+prev style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="../img/backb.png")
                                                        while n <= max
                                                                li
                                                                        if(pno==n)
                                                                                a(href="/admin/product="+n style="color: #fff;border: 1px solid #f40;background-color: #f40;")=n++
                                                                        else
                                                                                a(href="/product="+n)=n++

                                                        if(ip != fp || check)
                                                                li
                                                                        a#next(href="/admin/product="+next style="padding: 6px 4px 4px 4px;height: 12px;")
                                                                                img(src="../img/forb.png")
                                                                li
                                                                        a#final(href="/admin/product="+pager.pagecnt style="height: 14px;")
                                                                                img(src="../img/dforb.png")

        script.
                $("#prod").css("border-bottom","5px solid white");
                $("#prod").css("color","white");
                $("#first").hover(function(){
                                $("#first").children().attr('src','./img/dbackw.png');
                        },function(){
                                $("#first").children().attr('src','./img/dbackb.png');
                        })
                        $("#prev").hover(function(){
                                $("#prev").children().attr('src','./img/backw.png');
                        },function(){
                                $("#prev").children().attr('src','./img/backb.png');
                        })
                        $("#next").hover(function(){
                                $("#next").children().attr('src','./img/forw.png');
                        },function(){
                                $("#next").children().attr('src','./img/forb.png');
                        })
                        $("#final").hover(function(){
                                $("#final").children().attr('src','./img/dforw.png');
                        },function(){
                                $("#final").children().attr('src','./img/dforb.png');
                        })
                $("a[id='modi']").click(function(){
                        num=$(this)[0].name;
                        href ="/admin/productmodify?num="+num;
                        location.href =href;
                });
                $("a[id='delete']").click(function(){
                        num=$(this)[0].name;
                        console.log(num);
                        $.ajax({
                                url:"/admin/productdelete",
                                type:"post",
                                dataType:'json',
                                data:{'num':num},
                                success: function(result){
                                        if(result){
                                                location.href="/admin/product";
                                        }else{
                                                alert("삭제가 실패하였습니다.");
                                        }
                                }
                        })
                        //- href ="/productdelete?num="+num;
                        //- location.href =href;
                });
                Date.prototype.format = function(f) {
                        if (!this.valueOf()) return " ";
                        var weekName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
                        var d = this;
                        return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
                                switch ($1) {
                                        case "yyyy": return d.getFullYear();
                                        case "yy": return (d.getFullYear() % 1000).zf(2);
                                        case "MM": return (d.getMonth() + 1).zf(2);
                                        case "dd": return d.getDate().zf(2);
                                        case "E": return weekName[d.getDay()];
                                        case "HH": return d.getHours().zf(2);
                                        case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
                                        case "mm": return d.getMinutes().zf(2);
                                        case "ss": return d.getSeconds().zf(2);
                                        case "a/p": return d.getHours() < 12 ? "오전" : "오후";
                                        default: return $1;
                                }
                        });
                };
                String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
                String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
                Number.prototype.zf = function(len){return this.toString().zf(len);};